@import 'base.css';

html {
  font-family: Poppins;
  font-size: 12px;
}
.container {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}
header {
  width: 100%;
  padding: 1rem 3rem 0.5rem 3rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 83px;
  align-items: center;
  background-color: var(--background-color);
  color: #fff;
  border-bottom: 1px solid #fff;
  z-index: 2;
}
.logo img,
.profile img {
  height: 33px;
  width: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
.profile,
.logo a {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.profile h5,
.logo h5 {
  margin-left: 8px;
}

.notification {
  position: relative;
  margin: 0 3rem;
}
.notification img {
  width: 20.89px;
  height: auto;
}
.count {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: var(--btn-color);
  border-radius: 20px;
  text-align: center;
  top: -7px;
  right: -10px;
}

aside {
  width: 304px;
  position: fixed;
  left: 0;
  top: 83px;
  min-height: calc(100vh - 83px);
  border: 1px solid #fff;
  border-bottom: none;
  border-left: none;
  z-index: 2;
  background-color: var(--background-color);
}

@media screen and (max-width: 1100px) {
  aside {
    width: 250px;
  }
}

aside nav {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 1rem 1.5rem 2.5rem 0rem;
}
aside nav a {
  margin: 0.7rem 0;
  padding: 1rem 3rem;
}

aside nav a:last-child {
  margin-top: auto;
  margin-bottom: 5em !important;
}

aside nav a:nth-child(2) {
  position: relative;
}
aside nav a:nth-child(2) p {
  position: absolute;
  background-color: var(--btn-color);
  text-align: center;
  top: 0.7rem;
  right: 2rem;
  width: 30px;
  padding: 5px;
  border-radius: 100px;
}
aside object {
  margin: 0 10px;
}

main {
  width: 100vw;
  min-height: 100vh;
  padding: calc(83px + 3rem) 6rem 2rem calc(304px + 6rem);
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

/* mobile ipad */
#check,
.bars {
  display: none;
}

@media screen and (max-width: 900px) {
  .bars {
    display: block;
    font-size: 2rem;
  }
  header {
    justify-content: space-between;
  }
  header .profile {
    display: none;
  }

  aside {
    position: fixed;
    left: -100%;
    transition: all 0.5s;
    z-index: 10;
  }
  main {
    padding: calc(83px + 3rem) 6rem 2rem 4rem;
  }

  #check:checked ~ .container aside {
    left: 0;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 2rem;
  }
  header .notification {
    padding: 0;
    margin: 5px 10px;
    transform: translateY(2px);
  }
  header {
    max-height: 50px;
  }
  main {
    padding: calc(50px + 3rem) 2rem 2rem 2rem;
  }
}

/* javascript class for nav highlight */
.nav-highlight {
  background-color: var(--btn-color);
  border-radius: 0 40px 40px 0;
}
